# Domains added below will be ignored, For example:
# your-domain-name.com

track.customer.io

help.evernote.com

adservices.google.com
analytics.google.com
pagead-googlehosted.l.google.com
pagead.l.google.com
partnerad.l.google.com
video-stats.video.google.com

www.googletagmanager.com
google-analytics.com
ssl.google-analytics.com
www.google-analytics.com

cdn.segment.com
segment.com

mixpanel.com
api.mixpanel.com

click.icptrack.com

www.ojrq.net